@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Roca Two';
		font-style: normal;
		font-weight: 400;
		font-display: block;
		src:
			url('/fonts/rocatwo/rocatwo-light.woff2') format('woff2'),
			url('/fonts/rocatwo/rocatwo-light.woff') format('woff');
	}
}

body {
	text-rendering: optimizeLegibility;
}

figcaption {
	@apply w-full text-center text-base text-neutral-50/50;
	margin-top: 0.5rem !important;
}

.gif {
	border-radius: 4px !important;
}
